@tailwind base;
@tailwind components;
@tailwind utilities;

/*  ALTERAÇÕES  */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: white;
}

.ql-editor{
    height: 300px !important;
}
.form-button--{
    width: fit-content;
    margin: 0;
}

.hidden--{
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms linear;
}
.sm\:mt-40{
    margin-top: 5em !important;
    margin-bottom: 1em !important;
    height: fit-content;
}

.form-logout{
    width: 100%;
}
.form-logout button{
    cursor: pointer;
    color: black;
    width: 100%;
    text-align: left;
}

.mt-1{
    width: 200px !important;
}
