@tailwind base;
@tailwind components;
@tailwind utilities;

/*  ALTERAÇÕES  */
.ql-editor{
    height: 300px !important;
}
.form-button--{
    width: fit-content;
    margin: 0;
}

.hidden--{
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms linear;
}
.sm\:mt-40{
    margin-top: 5em !important;
    margin-bottom: 1em !important;
    height: fit-content;
}

.form-logout{
    width: 100%;
}
.form-logout button{
    cursor: pointer;
    color: black;
    width: 100%;
    text-align: left;
}

.mt-1{
    width: 200px !important;
}

.arrow-back-container--{
    background-color: cornflowerblue;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 5px grey;
    margin: 10px;
}
.container-posts--{
    width: 50%;
    margin-left: 25%;
}
.pagination--{
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
}
.img-post--{
    width: 100%;
    height: 500px;
}
.show-post--{
    width: 50%;
    margin-left: 25%;
}
.select--{
    color: black;
}
.show-user--{
    width: 60%;
    margin-left: 20%;
    margin-top: 2em;
}
.a-show-user--{
    background-color: cornflowerblue;
    height: 100px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
